.text-code { color:#ed6cfa }
.text-successl { color:#81f360 }

@font-face {
    font-family: MedievalSharp;
    src: url(../files/fonts/MedievalSharp/MedievalSharp.ttf);
}

@font-face {
    font-family: Abel;
    src: url(../files/fonts/Abel/Abel.ttf);
}

@font-face {
    font-family: Merriweather;
    src: url(../files/fonts/Merryweather/Merriweather.ttf);
}
@font-face {
    font-family: Kings;
    src: url(../files/fonts/Kings/Kings-Regular.ttf);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Abel;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:hover div {
    background-color: white !important;
    border: 1px solid white !important;
    color:black !important;
}

a:hover h5 {
    color:black !important;
}

.card a {
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    border: 5px solid black;
}

header div {
    width:100%;
    padding:20px;
}

header a {
    text-decoration: none;
    transition: 0.2s;
    color:white;
}

header a:hover {
    color:skyblue;
    transition: 0.2s;
}

h5 {
    color: black !important;
}

h5:hover {
    color: rgb(13, 110, 253) !important;
}

#title_button_info h5 {
    color: black !important;
}

#title_button_info h5:hover {
    color: rgb(13, 110, 253) !important;
}