* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-variant: small-caps;
    text-decoration: none;
    font-family: Tahoma;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#title_button_info {
    color:white
}
#title_button_info:hover {
    color:black
}

.cabecera_main:has(.show) {
    background-color: white;
}

#title_button_info:has(.show) #title_info {
    background-color: white;
}

#title_button_info:hover #title_info {
    background-color: white;
}

a:hover div {
    background-color: red;
    border: 1px solid red;
}

.card a {
    text-decoration: none;
}

header a {
    text-decoration: none;
    transition: 0.2s;
    color:white;
}

header a:hover {
    color:skyblue;
    transition: 0.2s;
}

